body{
  height: auto;
}

nav{
  height: 6%;
}

.profil{
  margin-left:96%;
  padding: 0px;
}

i{
  margin: 0px;
  font-size: 1.5rem;
  color: #505050;
}

 .grnav{
  border-bottom: 2px solid #8f8f8f;
  border-radius: 5px;
 }

 .badge-n {
  margin-top: -5px;
  color: white;
  margin-left: -11px;
  position: absolute;
}




