<!-- Navbar -->
<nav class="navbar grnav container-fluid d-flex">
    <div>
        <a href="#" id="navbarDropdownMenuLink">
          <i class="fas fa-bell"></i>
          <span class="badge-n badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <!-- <ul
          class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul> -->
      </div>
      <div>
        <a class="dropdown-toggle d-flex align-items-center"  href="#">
        <i class="fa-solid fa-user"></i>
        </a>
        <!-- <ul class="dropdown-menu dropdown-menu-end" >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul> -->
      </div>
</nav>
<!--  -->
