.caroussel{
  // border: 1px solid red;
  min-height: 643px;
  background-image: url(../register-ets/img/homeimg1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
