.caroussel{
  // border: 1px solid red;
  min-height: 643px;
  background-image: url(/src/assets/img/homeimg1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
// .ttyy{
//   border: 1px solid red;
//   height: 600px;
// }
