<body style="border: 1px solid red;">

  <form>
    <div>
      <label for="types">Types</label>
      <select name="types" class="form-select" multiple aria-label="Multiple select example">
      <option selected></option>
      <option value="1">One</option>
      <option value="2">Two</option>
      </select>
    </div>
    <div class="search-form">
        <input type="text" class="search-input" placeholder="Search...">
        <button type="submit" class="search-button">Search</button>
    </div>
  </form>

</body>


