 <!-- Sidebar -->
 <ul class="grul p-0 navbar-nav bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <div class="header-sidebar p-0 brand-logo d-flex align-items-center justify-content-between">
    <a style="color: #4e73df; width: 100%;"  class="p-0 m-0 sidebar-brand d-flex align-items-center justify-content-center" routerLink="home">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
      </div>
      <div style="margin-left: 5px;"sidebar-brand-text>Trouvez Tout</div>
  </a>
  </div>

  <!-- Divider -->
  <!-- Nav Item - Dashboard -->
  <!--li class="nav-item active">
      <a class="nav-link" routerLink="home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tableau de Bord</span></a>
  </li-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <ul id="sidebarnav">
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Home</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="dashboard" aria-expanded="false">
        <span>
          <i class="fa-solid fa-house mx-2"></i>
        </span>
        <span class="hide-menu">Dashboard</span>
      </a>
    </li>
  </ul>
  <hr  class="sidebar-divider">
      <ul>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-"></i>
          <span class="hide-menu">Entreprise</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="users/read-users" aria-expanded="false">
            <span>
              <i class="fa-solid fa-user mx-2"></i>
            </span>
            <span class="hide-menu">User</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="users/inbox" aria-expanded="false">
            <span>
              <i class="fa-solid fa-envelope mx-2"></i>
            </span>
            <span class="hide-menu">Inbox</span>
          </a>
        </li>
      </ul>
      <hr  class="sidebar-divider">
      <ul>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Publicite</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="reports" aria-expanded="false">
            <span>
              <i class="fa-solid fa-arrow-trend-up mx-2"></i>
            </span>
            <span class="hide-menu">Créations</span>
          </a>
        </li>
      </ul>
      <hr  class="sidebar-divider">
      <ul>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Settings</span>
        </li>
       <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/settings/general" aria-expanded="false">
            <span>
              <i class="fa-solid fa-gear mx-2"></i>
            </span>
            <span class="hide-menu">General</span>
          </a>
        </li>
       <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/settings/system" aria-expanded="false">
            <span>
              <i class="fa-solid fa-gears mx-2"></i>
            </span>
            <span class="hide-menu">Help</span>
          </a>
        </li>
      </ul>

