 <!-- Sidebar -->
 <ul class="grul p-0 navbar-nav sidebar sidebar-dark">

  <!-- Sidebar - Brand -->
  <div class="header-sidebar p-0 brand-logo d-flex align-items-center justify-content-between">
    <span style="color: #4e73df; width: 100%;"  class="p-0 m-0 sidebar-brand d-flex align-items-center justify-content-center" routerLink="home">
      <div style="border: px solid red; width: 50px;" class="sidebar-brand-icon rotate-n-12">
          <img style="width: 100%;" src="/assets/img/LogoTT.png" alt="">
      </div>
      <div style="margin-left: 5px;"sidebar-brand-text>Trouvez Tout</div>
    </span>
  </div>

  <!-- Divider -->
  <!-- Nav Item - Dashboard -->
  <!--li class="nav-item active">
      <a class="nav-link" routerLink="home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tableau de Bord</span></a>
  </li-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <ul id="sidebarnav">
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu"><b>Home</b></span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="home" aria-expanded="false">
        <span>
          <i class="fa-solid fa-house mx-2"></i>
        </span>
        <span class="hide-menu">Dashboard</span>
      </a>
    </li>
  </ul>
  <hr  class="sidebar-divider">
      <ul>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-"></i>
          <span class="hide-menu"><b>Entreprise</b></span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/entreprise/create" aria-expanded="false">
            <span>
              <i class="fa-solid fa-plus mx-2"></i>
            </span>
            <span class="hide-menu">Create Entreprise</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/entreprise/all/" aria-expanded="false">
            <span>
              <i class="fa-solid fa-arrows-to-eye mx-2"></i>
            </span>
            <span class="hide-menu">All Entreprise</span>
          </a>
        </li>
      </ul>
      <hr  class="sidebar-divider">
      <ul>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu"><b>Publicite</b></span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/publicite/" aria-expanded="false">
            <span>
              <i class="fa-solid fa-arrow-trend-up mx-2"></i>
            </span>
            <span class="hide-menu">Créations</span>
          </a>
        </li>
      </ul>
      <hr  class="sidebar-divider">
      <ul>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu"><b>Settings</b></span>
        </li>
       <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/setting/abonnement/" aria-expanded="false">
            <span>
              <i class="fa-solid fa-gear mx-2"></i>
            </span>
            <span class="hide-menu">Abonnement</span>
          </a>
        </li>
       <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/setting/help/" aria-expanded="false">
            <span>
              <i class="fa-solid fa-gears mx-2"></i>
            </span>
            <span class="hide-menu">Help</span>
          </a>
        </li>
      </ul>

