
<div class="container-fluid divregister-gr">

  <form class="container" action="">
    <h2>Renseignez ce formulaire</h2><br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="User name" aria-label="User name" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Business name" aria-label="Business name" required>
      </div>
      <div class="col">
        <select class="form-control form-select" aria-label="Type of business">
          <option selected>Type of business</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <input type="text" class="form-control" placeholder="Description" aria-label="Description" required> -->
        <textarea style="border-radius: 12px;     height: calc(1.5em + 0.75rem + 2px);" class="form-control" placeholder="Description" aria-label="Description" required></textarea>
      </div>
      <div class="col">
        <div style="border-radius: 12px; display: flex;" class="form-control p-0 m-0">
          <select class="form-control form-select select" aria-label="Type of business">
            <option selected>Ville</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-control form-select select" aria-label="Type of business">
            <option selected>Commune</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-control form-select select" aria-label="Type of business">
            <option selected>Quartier</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Number" aria-label="Number" required>
      </div>
      <div class="col">
        <input style="padding: 3px 0px 0px 5px;" type="file" class="form-control" placeholder="Photo" aria-label="Photo" required>
      </div>
    </div>
    <div class="container-fluid p-0 m-0">
      <button class="btn btn-primary" type="submit">SUBMIT FORM</button>
    </div><br>
    <div  class="container-fluid p-0 m-0">
      <a routerLink="login" style="color: blue; width: 100%;font-family: monospace;border-radius: 12px;" class="btn bg-white" type="submit">LOGIN</a>
    </div>
    <div style="height: 5%; display: flex; margin-top: 2%;">
      <hr style="border: 1px solid rgb(0, 0, 0); width: 35%; margin-right: 5px;">
      <span style="margin-top: 0.55%; margin-left: 0px; margin-right: 0px; color: black;">Or follow us</span>
      <hr style="border: 1px solid rgb(0, 0, 0); width: 35%; margin-left: 5px;">
    </div>
      <div class="gr-div-logo row">
        <div class="logo logo-fb">
          <a href="">
            <img src="assets/img/logofb.png" alt="">
          </a>
        </div>
        <div class="logo">
          <a href="">
            <img src="assets/img/logotiktok.png" alt="">
          </a>
        </div>
        <div class="logo">
          <a href="">
            <img src="assets/img/insta.png" alt="">
          </a>
        </div>
      </div>
  </form>
</div>
