.div-home-gr{
  height: auto;
  border: 1px solid red;
  padding: 0px;
}
.div-home-mo{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
h1{
  font-size: 7rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
  width: 63%;
  border: 1px solid red;
}
.image{
  width: 37%;
  border: 1px solid red;

}
