.div-home-gr{
  height: auto;
  border: 1px solid red;
  padding: 0px;
  color: black;
  height: 94%;
  background-image: url("/assets/img/carousel1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.text{
  width: 50%;
  margin-top: 10%;
  height: auto;
  border: 1px solid red;
  margin-left: 10%;
}
h1{
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

