<div class="divpage">
  <app-menu></app-menu>

  <body class="container-fluid m-0 p-0">
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
      <a class="profil" href="">
        <i class="fa-solid fa-user"></i>
      </a>
    </nav>

    <router-outlet></router-outlet>

    <!-- <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2021</span>
          </div>
        </div>
    </footer> -->

  </body>

</div>
