.divpage{
  display: flex;
  margin: 0px;
  padding: 0px;
}

body{
  height: auto;
}

nav{
  height: 6%;
}

.profil{
  margin-left:96%;
  padding: 0px;
}

i{
  margin: 0px;
  font-size: 1.5rem;
  color: #4e73df;
}
