.home{
  margin-top: 6%;
}

.price-row{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  border: 1px solid red;
}

.price-col{
  width: 22%;
  border: 1px solid red;
}
