<div class="card text-center forgot-password">
  <div style="background-color: #36b9cc;" class="card-header h5 text-white">Password Reset</div>
  <div class="card-body px-5">
      <p class="card-text py-2">
        Entrez votre adresse e-mail, vous recevrez un e-mail contenant des instructions pour réinitialiser votre mot de passe.
      </p>
      <form class="form">
          <input type="email" id="typeEmail" class="form-control my-3" required/>
          <label class="form-label" for="typeEmail">Email input</label>
          <button style="background-color: #36b9cc; color: white;" class="btn w-100">Reset password</button>
      </form>
      <div class="d-flex justify-content-between mt-4">
          <a class="" routerLink="/auth/login">Login</a>
          <a class="" routerLink="/auth/register">Register</a>
      </div>
  </div>
</div>
